@{
    ViewData["Title"] = "Details Orders";
}

<div class="row">
    <div class="col-4">
        <div class="card m-0 ">

            <div class="card-body px-3 py-2">
                <p class="text-xs font-weight-bold text-primary">Personal Details</p>
                <p class="text-xs">Full Name : <span class="text-dark font-weight-bold">XYZ</span></p>
                <p class="text-xs">Mobile Number : <span class="text-dark font-weight-bold">xyz</span></p>
                <p class="text-xs">Pickup Address : <span class="text-dark font-weight-bold">xyz</span></p>
                <p class="text-xs">Drop Address : <span class="text-dark font-weight-bold">xyz</span></p>
                <p class="text-xs">Order Date : <span class="text-dark font-weight-bold">10-10-2023</span></p>
                <p class="text-xs">Pickup Start  Date : <span class="text-dark font-weight-bold">10-10-2023</span></p>
                <p class="text-xs">Completed Date : <span class="text-dark font-weight-bold">10-10-2023</span></p>
                <p class="text-xs">  <span class="text-dark font-weight-bold">&nbsp;</span></p>
                <p class="text-xs">  <span class="text-dark font-weight-bold">&nbsp;</span></p>
                <p class="text-xs">  <span class="text-dark font-weight-bold">&nbsp;</span></p>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-0 ">
            <div class="card-body px-3 py-2">
                <p class="text-xs font-weight-bold text-primary">Vehicle & Driver Details</p>

                <p class="text-xs">Vehicle Name : <span class="text-dark font-weight-bold">XYZ</span></p>
                <p class="text-xs">Model : <span class="text-dark font-weight-bold">xyz</span></p>
                <p class="text-xs">Vehicle Number : <span class="text-dark font-weight-bold">xyz</span></p>
                <p class="text-xs">Driver Name : <span class="text-dark font-weight-bold">xyz</span></p>
                <p class="text-xs">Driver Number : <span class="text-dark font-weight-bold">xyz</span></p>
                <p class="text-xs"> <span class="text-dark font-weight-bold">&nbsp;</span></p>
                <p class="text-xs"> <span class="text-dark font-weight-bold">&nbsp;</span></p>
                <p class="text-xs">  <span class="text-dark font-weight-bold">&nbsp;</span></p>
                <p class="text-xs">  <span class="text-dark font-weight-bold">&nbsp;</span></p>
                <p class="text-xs">  <span class="text-dark font-weight-bold">&nbsp;</span></p>

            </div>
        </div>
    </div>    <div class="col-4">
        <div class="card m-0 ">
            <div class="card-body px-3 py-2">
                <p class="text-xs font-weight-bold text-primary">Order Details</p>

                <p class="text-xs">Client Name : <span class="text-dark font-weight-bold">XYz</span></p>
                <p class="text-xs">Mobile Number : <span class="text-dark font-weight-bold">XYz</span></p>
                <p class="text-xs">Product name : <span class="text-dark font-weight-bold">XYz</span></p>
                <p class="text-xs">Quantity name : <span class="text-dark font-weight-bold">XYz</span></p>
                <p class="text-xs">Order Date : <span class="text-dark font-weight-bold">XYz</span></p>
                <p class="text-xs">Order Status : <span class="text-dark font-weight-bold">XYz</span></p>
                <p class="text-xs"> Paid Amount <span class="text-dark font-weight-bold">20,000</span></p>
                <p class="text-xs"> Pending Amount <span class="text-dark font-weight-bold">10,000</span></p>
                <p class="text-xs">  <span class="text-dark font-weight-bold">&nbsp;</span></p>
                <p class="text-xs">  <span class="text-dark font-weight-bold">&nbsp;</span></p>

            </div>
        </div>
    </div>
</div>