@{
    ViewData["Title"] = "Edit Orders";
}

<div class="row ">
    <div class="col-md-6">
        <h6 class="font-weight-bolder va-title v-color">Edit Orders</h6>
    </div>
    <div class="col-md-6 text-end">
        <a href="~/Admin/orders/add" class="btn btn-sm v-bg-color text-white">
            Save Order
        </a>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card m-0 vh-100">
            <div class="card-body px-3 py-2">
                <p class="text-xs font-weight-bold ">Personal Details</p>
                <div class="row">
                    <div class="col-12">
                        <label class="mb-0">Full Name</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Mobile Number</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Pickup Address</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Drop Address</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Order Date</label>
                        <div class="mb-2">
                            <input type="date" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Pickup Start  Date</label>
                        <div class="mb-2">
                            <input type="date" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Completed Date</label>
                        <div class="mb-2">
                            <input type="date" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card m-0 vh-100">
            <div class="card-body px-3 py-2">
                <p class="text-xs font-weight-bold">Vehicle & Driver Details</p>
                <div class="row">
                    <div class="col-12">
                        <label class="mb-0">Vehicle Name</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Model</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Vehicle Number</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Driver Name</label>
                        <div class="mb-2">
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option selected>--Select Driver--</option>
                                <option value="1">Driver 1</option>
                                <option value="2">Driver 2</option>
                                <option value="3">Driver 3</option>
                                <option value="3">Driver 4</option>
                            </select>
                        </div>
                        <label class="mb-0">Driver Number</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-0 vh-100">
            <div class="card-body px-3 py-2">
                <p class="text-xs font-weight-bold">Order Details</p>
                <div class="row">
                    <div class="col-12">
                        <label class="mb-0">Client Name</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Mobile Number</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Product name</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Quantity name</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Order Date</label>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-sm" placeholder="Type here">
                        </div>
                        <label class="mb-0">Order Status</label>
                        <div class="mb-2">
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option selected>--Select Status--</option>
                                <option value="1">Pending</option>
                                <option value="2">Inprogress</option>
                                <option value="3">Canceled</option>
                                <option value="3">Completed</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*  <form role="form">
        <div class="row">
        <div class="col-4">
        <label>Name</label>
        <div class="mb-2">
        <input type="text" class="form-control form-control-sm" placeholder="Full Name" aria-label="Name" aria-describedby="email-addon">
        </div>
        <label>Full Address</label>
        <div class="mb-2">
        <input type="text" class="form-control form-control-sm" placeholder="Full Address" aria-label="Address" aria-describedby="password-addon">
        </div>
        <div class="mt-4">
        <a href="~/Admin/Orders/List" class="btn bg-success text-white btn-sm">Save</a>
        <a href="~/Admin/Orders/List" class="btn bg-dark text-white ms-3 btn-sm">Cancel  </a>
        </div>
        </div>
        <div class="col-4">
        <label>Contact Number</label>
        <div class="mb-2">
        <input type="text" class="form-control form-control-sm" placeholder="Contact Number" aria-label="Contact Number" aria-describedby="email-addon">
        </div>
        <label>State</label>
        <div class="mb-2">
        <input type="text" class="form-control form-control-sm" placeholder="State" aria-label="State" aria-describedby="password-addon">
        </div>

        </div>
        <div class="col-4">
        <label>Email</label>
        <div class="mb-2">
        <input type="text" class="form-control form-control-sm" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
        </div>
        <label>Zip</label>
        <div class="mb-2">
        <input type="text" class="form-control w-50 form-control-sm" placeholder="Zip" aria-label="Zip" aria-describedby="password-addon">
        </div>

        </div>
        </div>

        </form>
        *@



